.crystal{
    border:1px solid green;
    height:150px;
    width: 150px;
    border-radius: 1px;
    box-shadow:5px 5px 5px rgba(0,0,0,0.5);
}
.crystals{
    display: flex;
    
    align-content: center;
    margin-top: -0px;
    position: absolute;
    justify-content: space-evenly;

    
}

img{
    width: 50px;
}
.box{ 
    background-image: url(../images/Background.jpg);
    background-repeat: no-repeat;
    height: 850px;
    background-size:cover;
    background-position: center;
    background-position: absolute;
    background-attachment:fixed;
    background-position: left top;
    margin:0;
    
    
}

.header{
    background-color:darkorange;
    color:white;
    width: 300px;
    margin-left: 20px;
    text-align: center;
}
.instructions{
    background-color: antiquewhite;
    margin-left: 20px;
    width: 450px;
    text-align: center;
    color: green;
    font-size: 18px;
    font: weight 100;

}

#result{
    text-align: left;
    color:white;
    font-size: 20px;
    background-color:seagreen;
    width: 150px;
    margin-left: 20px;
    text-align: center;

}
#lost{
    color: white;
    background-color:lightseagreen;
    width: 100px;
    margin-left: 20px;
    text-align: center;
}
#win{
    color: white;
    background-color:lightseagreen;
    width: 100px;
    margin-left: 20px;
    text-align: center;
}
#previous{
    color:white;
    background-color: orangered;
    width: 100px;
    margin-left: 20px;
    text-align: center;
}